/* Global CSS */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  font-family: 'Fira Sans';
  font-size: 18px;

  background-color: black;
  color: white;
}
